.footer-container{
    text-align: center;
}
a{
    text-decoration : none;
    color: blueviolet;
    font-weight: bold;
    letter-spacing: 2px;
}
a:hover{
    color: black;
    transition: 1s;
    cursor: pointer;

}
.Dev-name{
    opacity: 70%;
}
.Dev-name:hover{

    cursor: pointer;
    transition: 1s;
   color: rgb(152, 141, 141);
}