body{
    padding: 9px;
  }
  .form-container {
    background: linear-gradient(20deg, rgb(227, 160, 227) 17%, #eeedf4 80%);
    width: 400px;
    padding: 20px;
    border-radius: 8px;
    margin-left:auto;
    margin-right:auto;
    box-shadow: 4px 5px 2px 1px #808080;
    color: white;
    border: 1px solid white;
    font-family: cursive;
    font-size: 20px;
    margin-top: 80px;
    margin-bottom: 9px;
    
  }
  
  .user-input {
    display: block;
    width: 310px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 19px;
    padding-left: 10px;
    height: 40px;
    border-top: none;
    border-left: none;
    
    border-right: none;
    margin: 10px;
  }
  .user-input:focus {
    outline:none;
  }
  
  .signup-button {
    font-size: 25px;
    background-color: #7c8bfc;
    color: white;
    margin: 10px;
    border-radius: 8px;
    border: 1px solid white;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .form-title {
    font-size: 45px;
    text-align: center;
  }
  
  
  
  .info-container {
   
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    margin-top: 130px;
    font-weight: bold;
   
    height: 190px;
    padding: 20px;
    border-radius: 8px;
  }

  .main-info-container{

    display: flex;
    justify-content: center;
  }
  .info-container-text {
    font-size: 40px;
    color: #a54949;
  }
  
  .signup-img-size{
    height: 450px;
   
  }
  .main-container-signup-img{
    display: flex;
    justify-content: center;
  }
  
  
  .wrapper {
   width: 100%;
    margin: auto;
    border: 2px solid #eb1c49;
    border-radius: 8px;
    overflow: hidden;
    padding: 7px;
    line-break: none;

  }
  
  .target {
    font-weight: bold;
    letter-spacing: 5px;
    animation-name: rightToLeft;
    animation-duration: 4.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* animation: rightToLeft 4.5s linear infinite; */
  }
  
  @keyframes rightToLeft {
    0% {
      transform: translateX(600px);
    }
    100% {
      transform: translateX(10px);
    }
  }
  